RewriteEngine On
RewriteBase /

RewriteRule ^admin/(.*) backend/www/$1 [L]

RewriteCond %{REQUEST_URI} !/backend/www/
RewriteCond %{REQUEST_URI} !/frontend/www/

RewriteRule (.*) frontend/www/$1 [L]



