.chat-wrapper {
    background: url('/images/chatbg.png') no-repeat;
    min-height: 663px;
    position: absolute;
    width: 1218px;
    height: 663px;
    top: 137px;
    left: -10px;
    font-weight: normal;
}

#online-counter {
    height: 39px;
    width:120px;
    font-size: 31px;
    line-height: 41px;
    text-shadow: 0 1px 0 #000000;
    color: #eeeeee;
    text-align: right;
    font-family: 'wf_SegoeUILight';
    position: absolute;
    top: 8px;
    left: 129px;
}

.history-controls {
    position: absolute;
    top: 10px;
    left: 295px;
    color: #e1e1e1;
    text-shadow: 0 1px 0 #000000;
    font-size: 14px;
}

ul.history-buttons {
    list-style-type: none;
    position: absolute;
    width: 600px;
    top: -2px;
    left: 150px;
    z-index: 10;
}

li.mode {
    cursor: pointer;
}

ul.history-buttons li {
    display: inline;
    color: #737374;
    margin-right: 3px;
}

ul.history-buttons li.active {
    font-family: 'wf_SegoeUIsb';
    color: #48d0d8;
    cursor: pointer;
}

.buddy-wrapper {
    width: 235px;
    height: 555px;
    overflow: auto;
    position: absolute;
    top: 65px;
    padding: 0 0 0 15px;
    background: none;
}

.buddy {
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 8pt;
    color: #2b2b2b;
    border-bottom: 1px solid #cdcada;
    padding: 8px 0 0 0;
    width: 200px;
    line-height: 13px;
    height: 16px;
    cursor: pointer;
}
.buddy:hover{
    background: #007e97;
}

.buddy div.flag {
    width: 24px;
    height: 24px;
    float: left;
    margin:-8px 0 0 0;
}

.buddy div.username {
    float: left;
    margin-left: 6px;
    margin-top: -3px;
    padding-bottom:0px;
    width: 143px;
}

.chat-log-wrapper {
    width: 925px;
    height: 420px;
    position: absolute;
    top: 40px;
    left: 278px;
    padding-top: 30px;
    overflow: auto;
}

.chat-log-overlay {
    width: 882px;
    height: 19px;
    background: url('/images/chat-log-overlay.png') no-repeat transparent;
    position: absolute;
    left: 278px;
    top: 477px;
    z-index: 10;
}

.chat-message-overlay {
    width: 849px;
    height: 10px;
    background: url('/images/chat-message-overlay.png') no-repeat transparent;
    position: absolute;
    left: 278px;
    top: 501px;
    z-index: 10;
}

.chat-message {
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 8pt;
    color: #2b2b2b;
    margin-bottom: 10px;
    line-height: 16px;
    width: 896px;
}

.chat-message a {
    color: #0078ca; text-decoration:none;
}

.chat-message a:hover {
    color: #0078ca; text-decoration: underline;
}

.chat-message.alert {
    padding: 10px 0 10px 0;
    background: url('/images/chat-alert-bg.png') no-repeat #e3fdfe;
    background-position: 160px 15px;
}

.chat-message.alert div.log-message {
    margin: 0 0 0 59px;
    width: 592px;
    border-left: 3px solid #98f9ff;
    min-height: 50px;
}

.chat-message div.log-name {
    float: left;
    color: #0078ca;
    width: 145px;
    text-align: right;
}

.chat-message div.log-myname {
    float: left;
    color: #999999;
    width: 145px;
    text-align: right;
}

.chat-message div.log-message{
    float: left;
    vertical-align: top;
    width: 600px;
    padding-left: 15px;
    padding-right: 35px;
}

.chat-log-smile-wrapper {
    width: 20px;
    height: 20px;
    min-height: 20px;
    min-width: 20px;
}

.chat-message div.log-time {
    float: left;
    text-align: left;
    color: #999999;
}

.chat-message-input {
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 8pt;
    color: #2b2b2b;
    width: 818px;
    height: 95px;
    position: absolute;
    left: 278px;
    bottom: 43px;
    padding: 10px 15px 15px 15px;
    cursor: text;
    overflow: auto;
    line-height: 13px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 0px;
    resize: none;
    max-height:95px; 
    min-height:95px;
    max-width: 818px;
    min-width: 818px;
    background-color: #edfeff;
}

.chat-message-input-disabled {
    width: 818px;
    height: 95px;
    position: absolute;
    left: 278px;
    bottom: 65px;
    background: url('/images/chat-message-input-disabled.png') no-repeat #edfeff;
}

.chat-message-input:focus {
    outline: 0;
}

.chat-smile-alert-block {
    height: 50px;
    position: absolute;
    top: 585px;
    left: 1134px;
}

.chat-alert-button-enabled {
    position: absolute;
    top: 0px;
    left: 0px;
    float: left;
    width: 42px;
    height: 42px;
    background: url('/images/chat-alert-button-enabled.png') no-repeat;
    /*cursor: pointer;*/
    margin: 2px 0 0 38px;
}



.chat-smile-button
{
    float: left;
    width: 51px;
    height: 51px;
    background: url('/images/chat-smile_hover.png') no-repeat transparent;
    cursor: pointer;
    margin: -3px 0 0 -7px;
    -webkit-opacity: 0.25;
    -moz-opacity: 0.25;
    opacity: 0;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}

.chat-smile-button.highlighted {
    opacity: 1;
}

.chat-smile-button:hover
{
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
}


.chat-smilesbg-block {
    position: absolute;
    top: 0px;
    left: 0px;
    float: left;
    width: 295px;
    height: 245px;
    background: url('/images/chat-smilesbg.png') no-repeat;
    /*cursor: pointer;*/
    margin: -188px 0 0 -285px;
    z-index:10;
}

.smile-thumb {
    margin: 3px 3px 2px 3px;
}

.smileys-popover {
    position: absolute;
    top: 18px;
    left: 16px;
}

.wrap-smile {
    float: left;
    background: none;
    width: 26px;
    height: 26px;
}

.wrap-smile.hover {
    background: url(/images/smile-hover.png) no-repeat;   
}

.log-message img {
    padding: 0;
    margin: 0;
    vertical-align: top;
}

.chat-send-button
{

    cursor: pointer;
    width: 91px;
    height: 75px;
    background: url('/images/chat-send-button-hover.png') no-repeat transparent;
    position: absolute;
    top: 500px;
    left: 1134px;
    margin: -3px 0 0 -7px;
    -webkit-opacity: 0.25;
    -moz-opacity: 0.25;
    opacity: 0;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}

.chat-send-button:hover
{
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
}

.chat-alert-button
{   
    cursor: pointer;
    width: 46px;
    height: 49px;
    background: url('/images/chat-alert-button-hover.png') no-repeat transparent;
    position: absolute;
    top: 0px;
    left: 44px;
    margin: -3px 0 0 -7px;
    -webkit-opacity: 0.25;
    -moz-opacity: 0.25;
    opacity: 0;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}

.chat-alert-button.highlighted {
    opacity: 1;
}

.chat-alert-button:hover
{
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
}
#hidden-user-info{
    width:200px;
    max-height:554px;
    overflow:hidden;
    background: #E6E6E6;
    position: absolute;
    /*top: 236px;*/
    display: none;
    overflow-x: no-display;
    overflow-y: no-display;
    overflow: hidden;
    float: top;
    border: 1px solid #cdcada;
    padding: 0px;
}
#hidden-user-info span{
    font-size: 16px;
    padding: 2px;
    margin: 2px;
    font-weight: bold;
    color: #848484;
}
#hidden-user-info p{
    padding: 3px;
}
#hidden-user-info a{
    font-size: 16px;
    padding: 2px;
    margin: 2px;
    font-weight: bold;
    color: #007e97;
}
#close-btn {
    right: 10px;
    top: 10px;
    position: absolute;
}
.buddy-bold{
    font-weight: bolder;
}
.buddy-highlighted{
    background: #007e97;
}
#buddy-list{
    height: 288px;
}
.info-image{
    width: 24px;
    height: 24px;
    float: left;
    position: absolute;
    left: 189px;
    margin-left: 6px;
    margin-top: -3px;
    padding-bottom:0px;
}
.info-image img{
    position: absolute;
    top:-3px;
}
.username a{
    display: block;
}