#login{
    top:-1px;
}
.textbox1-login{
    border: 6px solid #fff;
    border-radius: 1px;
    height:20px !important;
    width: 190px;
    top:29px !important;
    left: 24px;
    display: block;
    position: absolute;
    margin-top: 12px;
    font-size: 20px !important;
    font-family: 'Open Sans Condensed', 'sans-serif' !important;

}

.textbox2-login {
     border: 6px solid #fff;
    border-radius: 1px;
    height:20px !important;
    width: 190px;
    top:94px !important;
    left: 24px;
    display: block;
    position: absolute;
    margin-top: 15px;
    font-size: 20px !important;
    font-family: 'Open Sans Condensed', 'sans-serif' !important;
}


.textbox3-login {
    border: 6px solid #fff;
    border-radius: 1px;
    height:20px !important;
    width: 190px;
    top:227px;
    left: 24px;
    display: block;
    position: absolute;
    font-size: 20px !important;
    font-family: 'Open Sans Condensed', 'sans-serif' !important;
}


.btn-style{
    background-color: #30c70a;
    border: 0 solid #000000;
    border-radius: 1px;
    box-shadow: 0 1px 1px #2d500a;
    color: #ffffff;
    cursor: pointer;
    font-family: 'Open Sans Condensed','sans-serif';
    font-size: 20px;
    font-weight: bold;
    height: 30px !important;
    left: 24px;
    padding: 1px 17px;
    position: absolute;
    top: 269px;
    transition: all 0.3s ease 0s;
    width: 206px;
    /*position: absolute;*/
    /*left: 24px;*/
    /*top: 269px !important;*/
}
.btn-style:hover{
    position: absolute;
    width: 206px;
    height: 30px !important;
    top:269px;
    left: 24px;
    border : solid 0px #000000;
    border-radius : 1px;
    font-size : 20px;
    color : #ffffff;
    padding : 1px 17px;
    background-color : #4dde29;
    cursor: pointer;
    box-shadow: 0px 1px 1px #2d500a;
    font-family: 'Open Sans Condensed', 'sans-serif' !important;
    font-weight: bold;
    transition: 0.3s;
}
/*#login .sub1{*/
    /*color: #879092;*/
    /*font-size: 14px;*/
    /*font-weight: bold;*/
    /*height: 0;*/
    /*left: 22px;*/
    /*position: absolute;*/
    /*top: 15px;*/
/*}*/
#sub1-login{
    color: #879092 !important;
    font-size: 14px;
    font-weight: bold;
    height: 0;
    left: 25px !important;
    position: absolute;
    top: 15px !important;
}

#sub2-login{
    color: #879092 !important;
    height:0px;
    position: absolute;
    font-weight: bold;
    top:81px !important;
    left: 25px !important;
    font-size: 14px;
}

#sub4 {
    color: #32c745;
    font-size: 14px;
    height: 0;
    left: 22px;
    position: absolute;
    text-decoration: underline;
    top: 318px;
}


#sub3-login{
    color: #879092 !important;
    height:0px; 
    position: absolute;
    font-weight: bold;
    top:201px;
    left: 22px;
    font-size: 14px;
}

#captcha{
    position: absolute;
    top:  152px !important;
    left: 22px;
    display: block;
    height: 35px;
    width: 160px;
}
#refresh{
    background-image: url(../images/refresh.png);
    background-repeat: no-repeat;
    height:35px;
    width: 40px;
    top:151px;
    left: 200px;
    display: block;
    position: absolute;
}
