/*JUSTMONEY*/

@import url(reset.css);
@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic,700&subset=latin,cyrillic-ext,cyrillic);

#wrapper{
    width: 1000px;
    margin: 0 auto;
    font-family: 'Open Sans Condensed', 'sans-serif';

    padding-right: 25px;
}

body{

    min-width: 1080px;
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;

}

input {
    padding-left:5px;
    height: 26px !important;
    width: 250px ;
    margin-top: 5px;
    color: #3b3b3b; 
    font-family: 'Open Sans Condensed', 'sans-serif';
    font-size: 21px;
	font-style: bold;

}




#BGDivs{

}


/*HEADER START*/

#login{
    background-color: #282828;
    height:346px; 
    width: 252px;
    left: 769px;
    z-index: 5;
    position: absolute;
    box-shadow: 1px 1px 16px rgba(0, 0, 0, 0.2)
} 


#footerUL1ahref {
    text-decoration: none;
    color: #959292;
    font-size: 15px;
    font-weight: 100;

}

#footerUL1ahref:hover {
    text-decoration: none;
    color: #fff;
    font-size: 15px;
    font-weight: 100;

}


.textbox1 { 
    border: 4px solid #fff; 
    border-radius: 1px; 
    height:30px; 
    width: 190px;
    top:29px;
    left: 24px;
    display: block; 
    position: absolute;
} 


.textbox2 { 
    border: 4px solid #fff;
    border-radius: 1px; 
    height:30px; 
    width: 190px;
    top:94px;
    left: 24px;
    display: block; 
    position: absolute;
} 


.textbox3 { 
    border: 4px solid #fff; 
    border-radius: 1px; 
    height:30px; 
    width: 190px;
    top:215px;
    left: 24px;
    display: block; 
    position: absolute;
} 


.btn-style{
    position: absolute;
    width: 206px;
    height: 30px !important;
    top:269px;
    left: 24px;
    border : solid 0px #000000;
    border-radius : 1px;
    font-size : 20px;
    color : #ffffff;
    padding : 1px 17px;
    background-color : #30c70a;
    cursor: pointer;
    box-shadow: 0px 1px 1px #2d500a;
    font-family: 'Open Sans Condensed', 'sans-serif';
    font-weight: bold;
    transition: 0.3s;
}



.btn-style:hover{
    position: absolute;
    width: 206px;
    height: 30px !important;
    top:269px;
    left: 24px;
    border : solid 0px #000000;
    border-radius : 1px;
    font-size : 20px;
    color : #ffffff;
    padding : 1px 17px;
    background-color : #4dde29;
    cursor: pointer;
    box-shadow: 0px 1px 1px #2d500a;
    font-family: 'Open Sans Condensed', 'sans-serif';
    font-weight: bold;
    transition: 0.3s;
}



#captcha{
    background-image: url(../images/captcha.png);
    height:35px;
    width: 160px;
    top:152px;
    left: 22px;
    display: block;
    position: absolute;

}


#refresh{
    background-image: url(../images/refresh.png);
    background-repeat: no-repeat;
    height:35px;
    width: 40px;
    top:151px;
    left: 200px;
    display: block;
    position: absolute;

}


#login .sub1{
    color: #879092;
    height:0px; 
    position: absolute;
    font-weight: bold;
    top:15px;
    left: 22px;
    font-size: 14px;

}

#login .sub2{
    color: #879092;
    height:0px; 
    position: absolute;
    font-weight: bold;
    top:81px;
    left: 22px;
    font-size: 14px;
}



#login .sub3{
    color: #879092;
    height:0px; 
    position: absolute;
    font-weight: bold;
    top:201px;
    left: 22px;
    font-size: 14px;
}

#login #sub4{
    color: #32c745;
    height:0px; 
    position: absolute;
    text-decoration: underline;
    top:318px;
    left: 22px;
    font-size: 14px;
}



#topLine{
    height: 40px;
    background-image: url(../images/topLine.png);
    background-repeat: repeat-x;
    background-color: #ccc;
    position: relative;
}

#topLineBG{
    min-width: 1080px;
    width: 100%;
    height: 40px;
    background-image: url(../images/topLine.png);
    background-repeat: repeat-x;
    background-color: #ccc;
    position: absolute;
}


#header{
    height: 157px;
    outline: 0px solid #cc0000;
    position: relative;
}



#logo a{
    display: block;
    height: 81px;
    cursor: pointer;
    z-index: 1;
    position: absolute;
}



#nav{
    height: 30px;
    position: absolute;
    top:11px;
    left: 75px;
    margin-right: 14px;


}

#nav li{
    float: left;
    outline: 0px solid #cc0000;
    margin-right: 14px;

}

#nav li a{
    text-decoration: none;
    font-size: 14px;
    color: #ccc;
    font-weight: 900;
}

#nav li a:hover {
    color: #fff; /* Цвет ссылки */ 
   } 

#nav .flag{
    background-image: url(../images/flag.png);
    position: absolute;
    top:1px;
    left: -66px;
    width: 53px;
    height: 18px;
    cursor: pointer;
}


#nav .in{
    background-image: url(../images/enter.png);
    background-repeat: no-repeat;
    position: absolute;
    top: 2px;
    left: 846px;
    width: 95px;
    height: 21px;
    z-index: 0;
}


.moveRight1{
    position: absolute;
    top:1px;
    left: 716px;
}

.moveRight2{
    position: absolute;
    top:1px;
    left: 872px;
    z-index: 1;
    color: #168714 !important;
	text-decoration: none;
}

/*HEADER END*/

/*PEOPLE START*/


#content{
    width: 100% ;
    height: 872px; 
    position: relative;


}

#contentBG{
    min-width: 1080px;
    width: 100% ;
    height: 872px; 
    background-image: url(../images/contentBG.jpg);
    position: absolute;
    top: 40px;
}


#globe{
    margin-left: auto;
    height: 487px; 
    width: 782px;
    background-image: url(../images/globe.png);
    background-repeat: no-repeat;
    background-position:right;
    z-index: 0;


}

#content #videoBG{
    height: 600px; 
    width: 1052px;
    top: 141px;
    left: -15px;
    background-image: url(../images/videoBG.png);
    background-repeat: no-repeat;
    position: absolute;

}



.video{
    height: 550px;
    width: 970px;
    position:absolute;
    top: 164px;
    left: 26px;
}


#logo{
    width: 398px;
    height: 110px;
    background-image: url(http://newuser.justmoney.pro/images/logo.png);
    background-repeat: no-repeat;
    position: absolute;
    top: 27px;
    left: 15px;
}


#greenButton{
    height: 96px;
    width: 1001px;
    position: absolute;
    left: 12px;
    top: 743px;
    background-image: url(../images/greenButton.png);
    background-repeat: repeat-x;
    text-align: center;
    padding-top: 25px;
    font-size: 52px;
    font-weight: bold;
    color: #fff;
    transition: .3s;
}


#greenButton:hover{
    height: 96px;
    width: 1001px;
    position: absolute;
    left: 12px;
    top: 743px;
    background-image: url(../images/greenButtonH.png);
    background-repeat: repeat-x;
    text-align: center;
    padding-top: 25px;
    font-size: 52px;
    font-weight: bold;
    color: #fff;
}



#greenButton span{
    left: 683px;
    top: 35px;
    height: 46px;
    width: 50px;
    position: absolute;
    background-image: url(../images/rightArrow.png);
    background-repeat: no-repeat;


}


#white{

    position: relative;
    height: 480px;

    /* left: 20px; */
    text-align: left;
}

#whiteBG{
    width: 100%;
    top: 912px;
    position: absolute;
    height: 480px;
    background-color: #eeeeee;
}


#photo{
    background-image: url(../images/photo.png);
    width: 316px;
    height: 371px;
    position: absolute;
    left: 91px;
    top: 30px;
}

#photo #photoIn{
    background-image: url(../images/photoNa.jpg);
    background-repeat: no-repeat;
    width: 267px;
    height: 327px;
    position: absolute;
    left: 25px;
    top: 16px;
}



#slideText{
    display: block;
    left: 215px;
    position: absolute;
    top: 78px;
    left: 450px;
    width: 577px;
    font-weight: bold;
}


#slideText .slideText1{
    margin-bottom: 15px;
    color: #007e97;
    font-size:  41px; 
}



#slideText .slideText2{
    margin-bottom: 6px;
    color: #007e97;
    font-size:  29px; 
}


#slideText .slideText3{
    margin-bottom: 39px;
    color: #000;
    font-size:  29px; 
}

#slideText .slideText4{





    width: 530px;
    line-height: 23px;
    margin-bottom: 32px;
    color: #6c816d;
    font-size: 17px; 
}


#ap{
    position: absolute;



    top: 115px;
    left: -4px;
    color: #72806d;
    font-size:  85px; 
    font-family: "Segoe UI",sans-serif;
    font-weight: normal;
}

#ap2{
    position: absolute;
    top: 225px;
    height: 43px;
    left: 457px;
    color: #72806d;
    font-size:  85px; 
    font-family: "Segoe UI",sans-serif;
    font-weight: normal;
}



#prev{
    position: absolute;
    width: 24px;
    height: 49px;
    top: 200px;
    left: 13px;
    background-image: url(../images/prev.png);
    background-repeat: no-repeat;
}



#next{
    position: absolute;
    width: 24px;
    height: 49px;
    top: 200px;
    left: 993px;
    background-image: url(../images/next.png);
    background-repeat: no-repeat;
    z-index: 15;
}


#slide1{
    position: absolute;

    width: 585px;
    height: 14px;
    top: 397px;

    left: 443px; 

}

#slide1 li{
    margin-right: 15px;
    float: left;
    width: 8px;
    height: 8px;
    background-repeat: no-repeat;
    background-image: url(../images/slide1.png);
}

#slide1 .slide1B{
    margin-right: 16px;
    float: left;
    width: 8px;
    height: 8px;
    background-repeat: no-repeat;
    background-image: url(../images/slide1B.png);
}

#darkBG{
    height: 275px;
    position: relative;
    z-index: 5;
    left: 13px;
}

#darkBGG{
    top: 1392px;
    width: 100%;
    height: 275px;
    background-image: url(../images/darkBG.png);
    position: absolute;
    z-index: 5;
}
/*
#infoBlok1{
    background-image: url(../images/infoblok2.png); background-position:0px 1px;
    width: 303px;
    height: 316px;
    top: -27px;
    left: 0px;
    border-radius: 5px;
    position: absolute;
    text-align: left;
}

#infoBlok2 {
  text-align: left;
  background-image: url(../images/infoblok2.png); background-position:0px 1px;
  width: 303px;
  height: 316px;
  top: -27px;
  left: 349px;
  border-radius: 5px;
  position: absolute;
}

#infoBlok3{
    text-align: left;
  background-image: url(../images/infoblok2.png); background-position:0px 1px;
    width: 303px;
    height: 316px;
    top: -27px;
    left: 697px;
    border-radius: 5px;
    position: absolute;
}
*/


#darkBG .reg1{
    color: #ff7b06;
    font-weight: bold;
    text-align: center;
    margin: 16px 0px 0px 0px;

}

#darkBG .reg2{
    color: #00bbd9;
    font-weight: bold;
    text-align: center;
    margin: 16px 0px 0px 0px;

}


#darkBG .reg3{
    color: #00a900;
    font-weight: bold;
    text-align: center;
    margin: 16px 0px 0px 0px;

}




#darkBG .regB{
    color: #b9b9b9;
    font-weight: bold;
    font-size: 18px;
    margin: 66px 0px 0px 13px;


}

#darkBG .li{
    color: #b9b9b9;
    font-weight: bold;
    margin: 10px 0px 0px 13px;
    line-height: 31px;
    font-size: 14px;
    position: absolute;


}

#darkBG ul  #tailand{
    width: 303px;
    display: inline-block;
    background-image: url(../images/tailand.png);
    background-repeat: no-repeat;
    background-position: 262px 11px;

}

#numberDecor1{
    background-image: url(../images/numberDecor1.png);
    width: 260px;
    height: 42px;
    position: absolute;
    top: 40px;
    left: 19px;
}

#numberDecor1 p{
    font-weight: bold;
    text-align: center;
    font-size: 40px;
    letter-spacing: 10.7px;
    word-spacing: -7px;
    margin-left: 0px;
    width: 276px;
    color: #e5e5e5;
    margin-top: 1px;
}

#numberDecor1 p .regB{
    color: #b9b9b9;
    font-weight: bold;
    font-size: 18px;
    margin: 66px 0px 0px 13px;


}




#test1{
    position: absolute;
    height: 1px;
    width: 260px;
    left: 1px;
    top:20px;
    z-index: 20;
    background-image: url(../images/test1.png);
}


#numberDecor2{
    background-image: url(../images/numberDecor2.png);
    width: 292px;
    height: 42px;
    position: absolute;
    top: 40px;
    left: 5px;
}

#numberDecor2 p{
    font-weight: bold;
    text-align: center;
    font-size: 40px;
    letter-spacing: 10.8px;

    word-spacing: -7px;
    margin-left: 0px;
    width: 304px;
    color: #e5e5e5;
    margin-top: 1px;
}
#test2{ 
    position: absolute;
    height: 1px;
    width: 288px;
    left: 4px;
    top:20px;
    z-index: 20;
    background-image: url(../images/test1.png);
}

#numberDecor3{
    background-image: url(../images/numberDecor3.png);
    width: 292px;
    height: 42px;
    position: absolute;
    top: 40px;
    left: 5px;
}
#numberDecor3 p{
    font-weight: bold;
    text-align: center;
    font-size: 40px;
    letter-spacing: 10.8px;
    word-spacing: -7px;
    margin-left: 0px;
    width: 304px;
    color: #e5e5e5;
    margin-top: 1px;
}
#test3{
    position: absolute;
    height: 1px;
    width: 285px;
    left: 3px;
    top:20px;
    z-index: 20;
    background-image: url(../images/test1.png);
}



/*FOOTER*/
/*FOOTER*/





#footer{
    /* height: 100%; */
    width: 1000px;
    margin: 0 auto;
    position: relative;
    z-index: 1;

    top: 57px;
}

#footerBG{
    top: 921px;
    width: 100%;
    height: 163px;
    position:absolute;
    background-color: #232323;
    z-index: 1;

    padding-top: 100px;
}

#footerBG3{
    top: 1733px;
    width: 100%;
    height: 293px;
    position:absolute;
    background-image: url(../images/footerBG.png);
    z-index: 1;

}

#footerBG3-1{
    top: 1174px;
    width: 100%;
    height: 293px;
    position:absolute;
    background-image: url(../images/footerBG.png);
    z-index: 1;

}


#footerBG4{
    top: 919px;
    width: 100%;
    height: 293px;
    position:absolute;
    background-image: url(../images/footerBG.png);
    z-index: 1;

}

#footerBG5{
    top: 1098px;
    width: 100%;
    height: 293px;
    position:absolute;
    background-image: url(../images/footerBG.png);
    z-index: 1;

}

#footerBG6{
    top: 1411px;
    width: 100%;
    height: 293px;
    position:absolute;
    background-image: url(../images/footerBG.png);
    z-index: 1;

}

#footerBG7-1{
    top: 1172px;
    width: 100%;
    height: 293px;
    position:absolute;
    background-image: url(../images/footerBG.png);
    z-index: 1;

}

#footerBG7-2{
    top: 1172px;
    width: 100%;
    height: 293px;
    position:absolute;
    background-image: url(../images/footerBG.png);
    z-index: 1;

}

#footerBG8{
    top: 1099px;
    width: 100%;
    height: 293px;
    position:absolute;
    background-image: url(../images/footerBG.png);
    z-index: 1;

}

#footerUL1, #footerUL2, #footerUL3, #footerUL4, #footerUL5 {
    top: 115px;
    left: 141px;



}


a{ 

    text-decoration: none;
    color: #000;
    font-size: 12px;




}


#footerUL1 a, #footerUL2 a, #footerUL3 a, #footerUL4 a, #footerUL5  a,#footerUL6 a{
    text-decoration: none;
    color: #959292;
    font-size: 15px;
    font-weight: 100;

}

#footerUL1, #footerUL2, #footerUL3, #footerUL4, #footerUL5, #footerUL6   li{
    line-height: 15px;


}

li #zagolovok{
    color: #595555;
    line-height: 45px;
    font-weight: bold;
    font-size: 19px;

}



#footerUL li:nth-child(2) {
    margin-top: 8px;
}
#footerUL1{
    position: absolute;
    top: 18px;
    left: 4px;
}

#footerUL2{
    position: absolute;
    top: 18px;
    left: 150px;
}

#footerUL3{
    position: absolute;
    top: 18px;
    left: 330px;
}

#footerUL4{
    position: absolute;
    top: 18px;
    left: 498px;
}

#footerUL5{
    position: absolute;
    top: 18px;
    left: 677px;
}

#footerUL6{
    position: absolute;
    top: 18px;
    left: 851px;
    width: 155px;
}

#footerUL{
    top: 0;
    width: 1000px;
    height: 226px;
    position: absolute;
    left: -4px;
    text-align: left;
    font: bold 19px 'Open Sans Condensed';
}

#miniLogo{
    position: absolute;
    background-repeat: no-repeat;
    background-image: url(../images/miniLogo.png);
    height: 27px;
    width: 126px;
    top: 193px;
    left: 0px;
}

#endText{

    position: absolute;


    /* height:39px ; */
    width:731px ;


    top: 198px;


    color: #4b4646;


    left: -44px;



    font-size: 16px;


    font-family: 'Open Sans Condensed';

}
#fofovi{
    opacity: 0.5;
    position:absolute;
    z-index: 1;
    top: 0;
    margin-left: 12px;
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    text-align: center;
}
.page {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    background: #e6e6e6;
}
.wrap {
    padding-bottom: 260px;
    background: #e6e6e6;
}
.footer {
    height: 298px;
    margin-top: -290px;
    background: #232323;
}
#footer-bark-bg {
    height: 67px;
    width: 100%;
    position: relative;
    top: 227px;
    background: #1e1e1e;
}


.sociconb1 {display: block; position: relative; width: 40px; height: 40px;
	background: url(../images/s/vk7.png) no-repeat;}
.sociconb1 span {position: absolute; top: 0; left: 0; bottom: 0; right: 0;
	background: url(../images/s/vk7.png) no-repeat; background-position: 0 -40px; opacity: 0; -webkit-transition: opacity 0.5s; -moz-transition: opacity 0.5s -o-transition: opacity 0.5s;
}
.sociconb1:hover span {opacity: 1;
}

.sociconb2 {display: block; position: relative; width: 40px; height: 40px; margin:-40px 0 0 45px;
	background: url(../images/s/fb7.png) no-repeat;}
.sociconb2 span {position: absolute; top: 0; left: 0px; bottom: 0; right: 0;
	background: url(../images/s/fb7.png) no-repeat; background-position: 0 -40px; opacity: 0; -webkit-transition: opacity 0.5s; -moz-transition: opacity 0.5s -o-transition: opacity 0.5s;
}
.sociconb2:hover span {opacity: 1;
}

.sociconb3 {display: block; position: relative; width: 40px; height: 40px; margin:-40px 0 0 90px;
	background: url(../images/s/ok7.png) no-repeat;}
.sociconb3 span {position: absolute; top: 0; left: 0px; bottom: 0; right: 0;
	background: url(../images/s/ok7.png) no-repeat; background-position: 0 -40px; opacity: 0; -webkit-transition: opacity 0.5s; -moz-transition: opacity 0.5s -o-transition: opacity 0.5s;
}
.sociconb3:hover span {opacity: 1;
}