

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
.m-center{
    margin: 0 auto;
}
.w-1000{
    width: 1000px;
}
 .green{
        background-color: #DFF0D8;
    }
    .red{
        background-color: #F2DEDE;
    }
    .mr{
        padding-right: 5px;
        
    }
















